#cSharp {
  display: none;
}

#ruby {
  display: none;
}

#css {
  display: none;
}

#twoOptions {
  display: none;
}

.resultTitle {
  text-align: center;
}

.imageSizeSmall {
  width: 150px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.imageSizeLarge {
  width: 480px;
  margin-top: 30px;
}

.introduction {
  font-size: 18px;
  font-family: sans-serif;
  margin: 30px 30px;
  text-align: justify;
}

.introColumns {
  font-size: 30px;
  font-family: sans-serif;
  margin: 10px 0px 0px 55px;
}

.btn {
  margin-bottom: 100px;
  margin-left: 35%
}

.centerIt {
  margin-left: 150px
}

#introUL {
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    list-style-type: none;
}
