#cSharp, #ruby, #css, #twoOptions {
  display: none;
}

.imageSizeSmall {
  width: 250px;
  margin: 50px 100px 200px;
}

.imageSizeLarge {
  width: 500px;
  margin: 0 40%;
}

.introduction {
  font-size: 20px;
  font-family: sans-serif;
}

.introColumns {
  font-size: 30px;
  font-family: sans-serif;
  margin: 75px 150px 0px;
}

#introUL {
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    list-style-type: none;
}
